.navbar {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px #E6FFE6;
    padding: 0px;

    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-gif {
    height: 40px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #555555;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    color: #000000;
    background-color: #E0F7E7;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.remedio-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card {
    border: 1px solid aquamarine;
    background-color: white;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body {
    font-size: .8rem;
    color: #777;
}

.hide {
    display: none;
}





